<nav>
    <div class="navbar">
        <div class="container nav-container">

            <div class="screens">
                <input class="checkbox" type="checkbox" name="">
                <div class="hamburger-lines">
                    <span class="line line1"></span>
                    <span class="line line2"></span>
                    <span class="line line3"></span>
                </div>
                <div class="menu-items">
                    <!-- <li><a href="/">Home</a></li> -->
                    <!-- <li><a href="/about">about</a></li> -->
                    <li><a href="/events">events</a></li>
                    <li><a href="/add-events">Add events</a></li>
                    <!-- <li><a href="#">portfolio</a></li> -->
                    <!-- <li><a href="/contact">contact</a></li> -->
                </div>
            </div>

            <div class="menu-items2">
                <!-- <li><a href="/">Home</a></li> -->
                <!-- <li><a href="/about">about</a></li> -->
                <li><a href="/events">events</a></li>
                <li><a href="/add-events">Add events</a></li>
                <!-- <li><a href="#">portfolio</a></li> -->
                <!-- <li><a href="/contact">contact</a></li> -->
            </div>
            <div class="logo">
                <div class="title">
                    <div class="name">
                        <h1 class="church-name">St. Charles Lwanga</h1>
                        <h2 class="church-slogan">One Faith One Family</h2>
                    </div>
                    
                    <div class="church-logo">
                        <img src="logo.png" alt="logo">
                    </div>
                </div>
            </div>
            
        </div>
    </div>
</nav>