<!DOCTYPE html>
<html lang="en">
<%- include('./partials/head.ejs') %>
<!-- <style>
    body{
        background-color: #F8C131;
    }
</style> -->
<body>
    <%- include('./partials/nav.ejs') %>
    <header>
        
    </header>

    <div class="error-404 body">
        <b>You have discovered our 404 page</b>
        <!-- <img src="images/unplugged2.jpg" alt=""> -->
        
        <h2 class="fs-1">Sorry for the inconvenience. But who knows, it might be you, it might be us :(</h2>
        <br><br><br>
        <h2 class="fs-1">This page does not exist, or has been moved permanently to a different address :(</h2>
        <br><br><br>
        <p class="fs-1">
            You can try: <br>
            <ul>
                <li>Checking the address for errors</li>
                <li>Refreshing the browser after a bit</li>
                <li>Typing the right address carefully</li>
                <li>Contacting the support team</li>
                <li>Or try waiting a while for fixes to be made</li>
            </ul>
        </p>
    </div>

    <%- include('./partials/footer.ejs') %>

</body>
</html>